div(class="navbar navbar-fixed-top")
  div.navbar-inner
    div.container
      a.brand(href="#") How Life Works
      div.nav-collaps 
        ul.nav
          - var home = ""
          - var open = ""
          
          - if (page == "home")
            - home = "active"
          
          - if (page == "open")
            - var open = "active"
            
          li(class=home)
            a(href="/") Home
          li(class=open)
            a(href="/open_layers") Open Layers
        if user
          ul(class="nav pull-right")
            li
              a(href="#") Welcome #{user.username}
            li.divider-vertical
            li
              a(href="/logout") Logout