!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css)
    script(type="text/javascript", src="javascripts/bootstrap.min.js")
  body
    !=partial('shared/header')
    div(class="page container")!= body