!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css)
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="javascripts/bootstrap.min.js")
    script(type="text/javascript", src="javascripts/OpenLayers.js")
    script(type="text/javascript", src="javascripts/application.js")
      
  body
    !=partial('shared/header')
    div(class="page container")!= body